body,
header {
  font-size: 'Parkinsans', sans-serif;
  color: rgba(18, 18, 121, 0.667);
  height: 100%;
  margin: 0;
}
header {
  color: rgba(18, 18, 121, 0.667);
  display: block;
  width: 50%;
  margin: 0 auto;
  text-align: center;
}
h2 {
  background-color: rgba(18, 18, 121, 0.667);
}
button,
select {
  background-color: #14b314;
  color: black;
  border-radius: 6px;
}
.form-container {
  border-radius: 6px;
}
.form-container select {
  margin-right: 80px;
}
#listaPessoas {
  color: black;
  list-style: none;
}
